@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

* {
    font-family: 'Montserrat';
}

body {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

img {
    width: 100%;
    height: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 0;
    margin: 0;
}

#main-container {
    width: 340px;
    margin-top: 50px;
}

#content {
    padding: 20px;
}

    #content > h1 {
        font-weight: 800;
        color: hsl(212, 21%, 14%);
    }

#perfume {
    letter-spacing: .3rem;
    height: 6px;
}

p {
    color: hsl(228, 12%, 48%);
    font-size: 14px;
}

h1 {
    font-family: 'Fraunces';
}

#price {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

    #price > h1 {
        color: hsl(158, 36%, 37%);
    }

    #price > p {
        text-decoration: line-through;
    }

button {
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    padding: 17px;
    width: 300px;
    margin: 0;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: medium;
}

@media screen and (min-width: 64rem) {

    body {
        flex-direction: row;
        background-color: hsl(30, 38%, 92%);
    } 

    img {
        width: 100%;
        min-width: 300px;
        height: 450px;
        min-height: 450px;
        border-bottom-left-radius: 15px;
        border-top-right-radius: 0;
    }

    #main-container {
        margin-top: 100px;
        width: 300px;
        justify-content: center;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #content {
        margin-top: 75px;
        margin-left: 10px;
        height: 500px;
        width: 230px;
    }

    button {
        width: 250px;
        font-weight: 600;
        padding: 17px;
    }
    
}
